html {
    background-color: black;
    color: antiquewhite;
    font-family: Roboto;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: row;
    margin-top: 2em;
}

div.columns{
    padding: 1em;
    background-color: antiquewhite;
    border: solid 1px black;
}